* {
    box-sizing: border-box;
}

body {
    background: url("../img/board.jpg") center top;
}

.board {
    padding: 80px 0;
    background: rgba(100%, 100%, 100%, 0.2);
    max-width: 768px;
    margin: auto;
}

.wrapper {
    text-align: center;
}

.wrapper img {
    max-width: 40px;
    margin: 0 2px;
}